*{
    background: #625554;
}
header{
    background: #625554;
}
.navbar-brand{
	padding:0px;
}
.navbar-brand img{
    height: 20px;
	width:46px;
}
nav{
    position:absolute;
    border: none;
    right:0px;
    top:30px;
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
    float:right;
}
nav a{
    background:black;
    padding-top:50px;
    text-decoration:none;
    color:white;
    border-radius:150px;
}
#logo{
    display: inline-block;
    float: left;
    height: 90px;
    width: 95px;
}
img{
    background: url("img/oldbookcase.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 1400px;
}
.jumbotron{
    height: 300px;
    width: 1400px;
    background: #AE623D;
    color: #641500;
}
footer{
    float: right;
    padding-top: 0px;
    padding-left: 900px;
    padding-bottom: 0px;
}