header{
    height: 80px;
}
body{
    background-color: #625554;
    background-image:url("img/oldbookcase.jpg");
}
.navbar{
    border:none;
    background-color: #625554;
}
.navbar-brand{
    border:none;
	padding:0px;
}
#logo{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    height: 80px;
    width: 80px;
}
nav{
    position:absolute;
    border: none;
    right:0px;
    top:0px;
}
nav ul{
    list-style: none;
    border: none;
}
nav li{
    display:inline-block;
    float:right;
    border: none;
}
nav a{
    background-color:#000000;
    padding-top:10px;
    color:#EEA237;
    border-radius:150px;
}
img{
    height: 550px;
    width: 1400px;
}
.jumbotron{
    height: 300px;
    width: 1400px;
    background-color: #AE623D;
    color: #641500;
}
h1{
    background: #AE623D;
}
#imgfeature{
    border-radius: 170px;
}
footer{
    float: right;
    padding-top: 0px;
    padding-left: 900px;
    padding-bottom: 0px;
}