header{
    height: 80px;
}
body{
    background-color: #625554;
}
.navbar{
    border:none;
    background-color: #625554;
}
.navbar-brand{
    border:none;
	padding:0px;
}
#logo{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    height: 120px;
    width: 140px;
}
nav{
    position:absolute;
    border: none;
    right:0px;
    top:0px;
}
nav ul{
    list-style: none;
    border: none;
}
nav li{
    display:inline-block;
    float:right;
    border: none;
}
.navbar-default .navbar-nav>li>a{
    background-color: #000000;
    color: #EEA237;
    border-radius: 150px;
}
img{
    height: 550px;
    width: 100%;
}
.jumbotron{
    height: 318px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #AE623D;
    color: #641500;
}
#herotext{
    background: #AE623D;
}
h1{
    background: #AE623D;
}
.btn-primary{
    border: none;
    background: #641500;
    color: #AE623D;
    border-radius: 80px;
}
.btn-primary:hover{
    border: none;
    background: #625554;
    color: #641500;
}
#goals{
    border: none;
    background: #641500;
    color: #AE623D;
    font-size: 18px;
    padding: 10px 16px;
    line-height: 1.3333;
    border-radius: 80px
}
#bar{
    background: #641500;
    color: #AE623D;
}
#imgfeature{
    border-radius: 170px;
    height: 350px;
    width: 350px;
}
footer{
    float: right;
    padding-top: 0px;
    padding-left: 900px;
    padding-bottom: 0px;
}